# LangChain Core
langchain
langchain-core
langchain-community 

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai


# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

#streamlit
streamlit

#vector database
faiss-cpu

#youtube  api
youtube-transcript-api

#HF Embeddings
sentence-transformers
langchain-huggingface